<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/plantilla/template :: head">
</head>
<body>
	<div th:replace="/plantilla/template :: mensajes"></div>

	<div class="d-flex" id="wrapper">

		<!-- Sidebar -->
		<div class="bg-light border-right" id="sidebar-wrapper">
			<div class="sidebar-heading">J4 SOFT</div>
			<div class="list-group list-group-flush text-center">


				<nav th:replace="plantilla/template :: menu_vertical"></nav>

			</div>
		</div>
		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<div id="page-content-wrapper">


			<nav th:replace="plantilla/template :: menu_horizontal"></nav>

			<div class="container-fluid">


				<div class="mt-2">
					<div class="card">
						<div class="card-header hudsoft-thead-dark">Informacion de
							Empresa</div>
						<div class="card-body card-block">

							<div class="row form-group">
								<div class="col col-md-3">
									<label for="" class=" form-control-label">Nombre</label>
								</div>
								<div class="col-12 col-md-9">
									<label for="" class=" form-control-label"
										th:text="${empresa.nombre}"></label>
								</div>
							</div>
							<div class="row form-group">
								<div class="col col-md-3">
									<label for="" class=" form-control-label">Nit</label>
								</div>
								<div class="col-12 col-md-9">
									<label for="" class=" form-control-label"
										th:text="${empresa.nit}"></label>
								</div>
							</div>
							<div class="row form-group">
								<div class="col col-md-3">
									<label for="" class=" form-control-label">Direccion</label>
								</div>
								<div class="col-12 col-md-9">
									<label for="" class=" form-control-label"
										th:text="${empresa.direccion}"></label>
								</div>
							</div>
							<div class="row form-group">
								<div class="col col-md-3">
									<label for="" class=" form-control-label">Telefono</label>
								</div>
								<div class="col-12 col-md-9">
									<label for="" class=" form-control-label"
										th:text="${empresa.telefono}"></label>
								</div>
							</div>

						</div>
						<div class="card-footer">
							<a th:href="@{/contador/crear/}+${empresa.id}"
												class="hudsoft-btn-sm">Agregar Contador</a>
							
							<button type="reset" class="hudsoft-btn-sm float-right">
								<i class="fa fa-ban"></i> Modificar
							</button>
						</div>
					</div>
					<div>

						<div class="mt-2">
							<h4>
								<span class="badge badge-secondary hudsoft-badge-important">Informacion</span>
							</h4>
						</div>

						<!-- INFORMACION -->
						<div class="row mx-auto">
							<div class="col-md-2">
								<div class="card">
									<div class="card-body">

										<span>Obras</span><br> <span>Total: </span> <span
											class="count" th:text="${empresa.obra.size()}"></span>

									</div>
								</div>
							</div>
							<div class="col-md-2">
								<div class="card">
									<div class="card-body">

										<span>Obreros</span><br> <span>Total: </span> <span
											class="count" th:text="${total_obreros}"></span>

									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- ./INFORMACION -->

				</div>

				<footer th:replace="plantilla/template :: footer"></footer>
			</div>
			<!-- /#page-content-wrapper -->

		</div>
	</div>
</body>
</html>