<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/plantilla/template :: head">
</head>

<body>

    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">J4 SOFT</div>
            <div class="list-group list-group-flush text-center">
                <nav th:replace="plantilla/template :: menu_vertical"></nav>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">


            <nav th:replace="plantilla/template :: menu_horizontal"></nav>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10 col-md-6">
                        <br>
                    </div>
                    <div class="col-lg-10 col-md-6 border ml-5 p-4 shadow p-3 mb-5 bg-white rounded">
                        <img th:src="@{/img/icons/business-man.svg}" class="col-md-4" style="float: right;">


                        <!-- CONTENIDO DINAMICO -->
                        <div>
                            <h3>Completa los campos</h3>


                            <form class="mt-3" th:action="@{/contador/guardar_modificacion}" method="post" th:object="${contador}">
                                <div class="form-group row">
                                    <label class="col-md-4" for="nombre">Nombres y apellidos:</label> <input th:field="${contador.nombre}" class="form_registro text-secondary" id="nombre" placeholder="">
                                </div>


                                <div class="form-group row">
                                    <label class="col-md-4" for="nombre">Teléfono:</label> <input th:field="${contador.telefono}" class="form_registro text-secondary" id="telefono" placeholder="">
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4" for="nombre">Correo:</label> <input th:field="${contador.correo}" class="form_registro text-secondary" id="correo" placeholder="">
                                </div>
                                <input th:field="${contador.empresa.id}" type="hidden">
                                <input th:value="${idEmpresa}" name="idEmpresa" type="hidden">
                                <input th:field="${contador.id}" type="hidden">
                                <div class="row">
                                    <button type="submit" class="hudsoft-btn-sm mx-auto">Guardar</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./CONTENIDO DINAMICO -->
            <footer th:replace="plantilla/template :: footer"></footer>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

    <!-- JAVASCRIPT -->
    <!-- ./JAVASCRIPT -->
</body>

</html>