<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!--FONTAWESOME-->
<script src="https://kit.fontawesome.com/2a82ed09c6.js"></script>
<link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/foto_perfil.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/estilos_jh.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/estilo.css}">
</head>
<body>

	<div th:fragment="mensajes">
		<div class="alert alert-success" th:if="${success != null}"
			th:text="${success}"></div>
		<div class="alert alert-danger" th:if="${error != null}"
			th:text="${error}"></div>
		<div class="alert alert-warning" th:if="${warning != null}"
			th:text="${warning}"></div>
		<div class="alert alert-info" th:if="${info != null}"
			th:text="${info}"></div>
	</div>
	<nav
		class="navbar navbar-expand-lg navbar-light bg-light border-bottom "
		th:fragment="menu_horizontal">
		<button class="btn" id="menu-toggle">
			<span class="fa fa-chevron-left"></span>

		</button>
		<i class="fas fa-grip-lines-vertical ml-1 hudsoft-background-color"></i>
		<span class="ml-1" th:text="${ruta_de_navegacion}"></span>

		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="row collapse navbar-collapse" id="navbarSupportedContent">

			<ul class="navbar-nav navbar-right col">
				<li sec:authorize="!isAuthenticated()"><a
					class="btn btn-outline-primary" th:href="@{/login}">Entrar</a></li>


				</li>
				<li sec:authorize="isAuthenticated()"
					class="ml-auto row align-items-center"><spam
						sec:authentication="name" class="col"></spam>


					<form id="logoutForm" th:action="@{/logout}" method="post">
						<button class="btn btn-light col	"
							onclick="document.getElementById('logoutForm').submit();"
							type="submit">
							<i class="fas fa-sign-out-alt hudsoft-background-color"></i>
							Salir
						</button>
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}" />
					</form></li>

			</ul>
		</div>

	</nav>
	<div id="menu_padre" th:fragment="menu_vertical">

		<div>

			<a href=""
				class="list-group-item list-group-item-action bg-light text-center"
				id="sub_menu_obras" type="button" data-toggle="collapse"
				data-target="#collapse_obras" aria-expanded="false"> <img
				width="50" class="mx-auto" th:src="@{/img/icons/obrero.svg}"><br>
				Obras
			</a>

			<div id="collapse_obras" class="collapse"
				aria-labelledby="sub_menu_obras" data-parent="#menu_padre">
				<a href="#"
					class="list-group-item list-group-item-action bg-light text-center">Nueva</a>
			</div>
			<div id="collapse_obras" class="collapse"
				aria-labelledby="sub_menu_obras" data-parent="#menu_padre">
				<a th:href="@{/obras}"
					class="list-group-item list-group-item-action bg-light text-center">Listar</a>
			</div>
		</div>

		<div>
			<a href="#"
				class="list-group-item list-group-item-action bg-light text-center"
				id="sub_menu_constructoras" type="button" data-toggle="collapse"
				data-target="#collapse_constructoras" aria-expanded="false"> <img
				width="50" class="mx-auto" th:src="@{/img/icons/anteproyecto.svg}"><br>
				Constructoras
			</a>

			<div id="collapse_constructoras" class="collapse"
				aria-labelledby="sub_menu_constructoras" data-parent="#menu_padre">
				<a href="#"
					class="list-group-item list-group-item-action bg-light text-center">Nueva</a>
			</div>
			<div id="collapse_constructoras" class="collapse"
				aria-labelledby="sub_menu_constructoras" data-parent="#menu_padre">
				<a th:href="@{/}"
					class="list-group-item list-group-item-action bg-light text-center">Listar</a>
			</div>
		</div>
		<div>

			<a href=""
				class="list-group-item list-group-item-action bg-light text-center"
				id="sub_menu_registrar" type="button" data-toggle="collapse"
				data-target="#collapse_registrar" aria-expanded="false"> <img
				width="50" class="mx-auto" th:src="@{/img/icons/anadir-lista.svg}"><br>
				Registrar
			</a>

			<div id="collapse_registrar" class="collapse"
				aria-labelledby="sub_menu_registrar" data-parent="#menu_padre">
				<a href="#"
					class="list-group-item list-group-item-action bg-light text-center">Nueva</a>
			</div>
			<div id="collapse_registrar" class="collapse"
				aria-labelledby="sub_menu_registrar" data-parent="#menu_padre">
				<a href="#"
					class="list-group-item list-group-item-action bg-light text-center">Listar</a>
			</div>
		</div>
		<div>
			<a href=""
				class="list-group-item list-group-item-action bg-light text-center"
				id="sub_menu_configuracion" type="button" data-toggle="collapse"
				data-target="#collapse_configuracion" aria-expanded="false"> <img
				width="50" class="mx-auto"
				th:src="@{/img/icons/configuraciones.svg}"><br>
				Configuracion
			</a>

			<div id="collapse_configuracion" class="collapse"
				aria-labelledby="sub_menu_configuracion" data-parent="#menu_padre">
				<a href="#"
					class="list-group-item list-group-item-action bg-light text-center">Nueva</a>
			</div>
			<div id="collapse_configuracion" class="collapse"
				aria-labelledby="sub_menu_configuracion" data-parent="#menu_padre">
				<a href="#"
					class="list-group-item list-group-item-action bg-light text-center">Listar</a>
			</div>
		</div>



	</div>
	<div class="row" th:fragment="menu_inferior">

		<!-- <div class="col">
			<a th:href="@{/arl/reporte/excel/}"
				class="list-group-item list-group-item-action bg-light text-center col"
				id="sub_menu_arl" type="button" data-toggle="collapse"
				data-target="#collapse_arl" aria-expanded="false"> <img width="50"
				class="mx-auto" th:src="@{/img/icons/reporte-de-salud.svg}"><br>
				ARL
			</a>
			<div id="collapse_arl" class="collapse"
				aria-labelledby="sub_menu_arl" data-parent="#menu_padre">
				<a th:href="@{/arl/reporte/excel/}"
					class="list-group-item list-group-item-action bg-light text-center">Todas las Arl</a>
			</div>
			<div id="collapse_arl" class="collapse"
				aria-labelledby="sub_menu_arl" data-parent="#menu_padre">
				<a th:href="@{/obras/obrerossinarl}"
					class="list-group-item list-group-item-action bg-light text-center">Sin Arl</a>
			</div>
		</div> -->
		<div class="col">
			<a th:href="@{/obras/obrerossinarl}"
				class="list-group-item list-group-item-action bg-light text-center col"
				type="button" > <img width="50"
				class="mx-auto" th:src="@{/img/icons/reporte-de-salud.svg}"><br> ARL
			</a>
		</div>
		
		<div class="col">
			<a href="#"
				class="list-group-item list-group-item-action bg-light text-center col"
				id="sub_menu_constructoras" type="button" data-toggle="collapse"
				data-target="#" aria-expanded="false"> <img width="50"
				class="mx-auto" th:src="@{/img/icons/eps.svg}"><br> EPS
			</a>
		</div>
		<div class="col">
			<a href=""
				class="list-group-item list-group-item-action bg-light text-center col"
				id="sub_menu_constructoras" type="button" data-toggle="collapse"
				data-target="#" aria-expanded="false"> <img width="50"
				class="mx-auto" th:src="@{/img/icons/papel.svg}"><br>
				PENSIONES
			</a>
		</div>
		<div class="col">
			<a href=""
				class="list-group-item list-group-item-action bg-light text-center col"
				id="sub_menu_constructoras" type="button" data-toggle="collapse"
				data-target="#" aria-expanded="false"> <img width="50"
				class="mx-auto" th:src="@{/img/icons/apoyo.svg}"><br>
				OPERADOR DE PAGO
			</a>
		</div>
	</div>

	</div>
	<hr width=90% style="height: 2px">
	<footer th:fragment="footer" class="text-center">
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

		<br>
		<p class="text-center text-secondary">
			Copyrights &copy; Derechos reservados 2020 <i class="em em-flag-co"
				aria-role="presentation" aria-label="Colombia Flag"></i>
		</p>


	</footer>

</body>
</html>