<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>PRUEBAS</title>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>

<body>
	<h4>PRUEBAS</h4>
	<button id="btn_ajax" type="submit" onclick="javascript:getAllArl()">TEST
		AJAX</button>
	<button type="submit" onclick="getAllArlFetch()">TEST
		JAVASCRIPT</button>
	<script>
		function getAllArl() {
			$.ajax({
				url: "/arl/",

				dataType: 'json',
				success: function (status, result) {
					console.log("status");
					console.log(status);
					console.log("result");
					console.log(result);
				},
				fail: function () {
					alert("error");
				}
			});
		}

		function getAllArlFetch() {
			let opciones = {
				method: 'get',
				headers: {
					'Content-Type': 'application/json'
				}
			}

			fetch('/arl/', opciones)
				.then(response => {
					if (response.ok)
						return response.text();
					else
						throw new Error(response.status);
				})
				.then(data => {
					var lista_arl = JSON.parse(data);
					sessionStorage.setItem("lista_arl",JSON.stringify(lista_arl));
			})
				.catch(err => {
					console.error("ERROR: ", err.message)
				});
		}

	</script>
</body>

</html>