<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/plantilla/template :: head">
</head>

<body>

    <div id="1" class="alert alert-info" th:if="${msg != null}" th:text="${msg}"></div>

    <div class="d-flex" id="wrapper">
        <!--    <div class="d-flex" id="wrapper"> -->


        <!-- Page Content -->
        <div id="page-content-wrapper">




            <div class="container-fluid mx-auto">


                <!-- CONTENIDO DINAMICO -->
                <div class="row mx-auto mt-5">
                    <form th:action="@{/users/password-reset-request/}" th:object="${password_reset_request}" class="mx-auto" method="post">
                        <input th:field="${password_reset_request.email}" placeholder="ingresa tu email" class="col">
                        <input id="csrf_token" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <button class="col mt-1 hudsoft-btn-sm">Enviar</button>
                    </form>
                </div>
                <!-- ./CONTENIDO DINAMICO -->




            </div>

            <footer th:replace="plantilla/template :: footer" class="mt-5"></footer>
        </div>
        <!-- /#page-content-wrapper -->

    </div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</body>

</html>