<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/plantilla/template :: head">
	<meta charset="UTF-8">
	<style TYPE="text/css">
		#form_nombres {}
	</style>
</head>

<body>

	<div class="d-flex" id="wrapper">

		<!-- Sidebar -->
		<div class="bg-light border-right" id="sidebar-wrapper">
			<div class="sidebar-heading">J4 SOFT</div>
			<div class="list-group list-group-flush text-center">


				<nav th:replace="plantilla/template :: menu_vertical"></nav>

			</div>
		</div>
		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<div id="page-content-wrapper">


			<nav th:replace="plantilla/template :: menu_horizontal"></nav>

			<div class="container-fluid">


				<!-- CONTENIDO DINAMICO -->
				<h4>Hola</h4>
				<div>
					<h3>Información básica</h3>
					<form>
						<input class="form_registro" id="form_nombres" placeholder="Nombres" value="">
						<input class="form_registro" id="form_apellidos" placeholder="Apellidos" value="">
						<input class="form_registro" id="form_cedula" placeholder="Cédula" value="">
						<input class="form_registro" id="form_celular" placeholder="Celular" value="">
						<input class="form_registro" id="form_direccion" placeholder="Dirección" value="">
						<input type="date" placeholder="Fecha de ingreso">
						<h3>Datos laborales</h3>
						<select name="cars" id="cars" >
							<option disabled selected>Selecciona un cargo</option>
							<option value="volvo">EjemploA</option>
							<option value="saab">EjemploB</option>
							<option value="mercedes">EjemploC</option>
						</select>
						<input class="form_registro" id="form_cargo" placeholder="Obra asignada" value="">
						<input class="form_registro" id="form_eps" placeholder="EPS" value="">
						<input class="form_registro" id="form_afp" placeholder="AFP" value="">
						<select name="cars" id="cars" >
							<option disabled selected>Asigna estado al obrero</option>
							<option value="volvo">EjemploA</option>
							<option value="saab">EjemploB</option>
							<option value="mercedes">EjemploC</option>
						</select>

					</form>
				</div>
				<!-- ./CONTENIDO DINAMICO -->




			</div>

			<footer th:replace="plantilla/template :: footer"></footer>
		</div>
		<!-- /#page-content-wrapper -->

	</div>


	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</body>

</html>