<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/plantilla/template :: head">
<style TYPE="text/css">
.margin-letf {
	margin-left: 20px !important;
}
</style>
</head>

<body>
	<div th:replace="/plantilla/template :: mensajes"></div>

	<div class="d-flex" id="wrapper">

		<!-- Sidebar -->
		<div class="bg-light border-right" id="sidebar-wrapper">
			<div class="sidebar-heading">J4 SOFT</div>
			<div class="list-group list-group-flush text-center">


				<nav th:replace="plantilla/template :: menu_vertical"></nav>

			</div>
		</div>
		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<div id="page-content-wrapper">


			<nav th:replace="plantilla/template :: menu_horizontal"></nav>

			<div class="container-fluid">

				<!-- CONTENIDO DINAMICO -->
				<div class="mt-2">
					<div class="card">
						<div class="card-header hudsoft-thead-dark">Obras</div>
						<div class="card-body card-block">
							<div class="alert alert-info my-4" th:if="${obras.isEmpty()}">
								<span>No hay obreros para mostrar aun.</span>
							</div>
							<table id="dtBasicExample" th:if="${!obras.isEmpty()}"
								class="table table-hover table-striped table-bordered table-sm table-responsive-sm">
								<thead class="hudsoft-thead-dark">
									<tr class="text-center">
										<th scope="col">#</th>
										<th scope="col">Nombre</th>
										<th scope="col">Direccion</th>
										<th scope="col">Estado</th>
										<th scope="col">siso</th>
										<th scope="col">Representante</th>
										<th scope="col">Obreros</th>
										<th scope="col">Opciones</th>
									</tr>
								</thead>
								<tbody class="">
									<tr th:each="obra: ${obras}" class="text-center">
										<th th:text="${obra.id}"></th>
										<td th:text="${obra.nombre}"></td>
										<td th:text="${obra.direccion}"></td>
										<td><span th:if="${obra.estado} == 'activo'"
											class="hudsoft-badge-pill"> <i class="fas fa-check"></i>
												activo
										</span> <span th:if="${obra.estado} == 'inactivo'"
											class="hudsoft-badge-pill-danger"> <i
												class="fas fa-times"></i> inactivo
										</span></td>

										<td th:text="${obra.siso.trabajador.nombre}"></td>
										<td th:text="${obra.representante.nombre}"></td>
										<td th:text="${obra.obrero.size()}"></td>
										<td><a th:href="@{/obras/}+${obra.id}"
											class="hudsoft-btn-sm"> <i class="far fa-eye"> </i></a></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="card-footer">
								<a th:href="@{/joimar/registrar_obra}"
									class="hudsoft-btn-sm float-right mr-1	" >Agregar Obra</a>
								
						</div>
					</div>
					<!-- ./CONTENIDO DINAMICO -->



					<div class="mt-2">
						<h4>
							<span class="badge badge-secondary hudsoft-badge-important">Informacion</span>
						</h4>
					</div>

					<!-- INFORMACION -->
					<div class="row mx-auto">
						<div class="col-md-2">
							<div class="card">
								<div class="card-body">
									<span>Obras</span><br> <span>Total: </span> <span
										class="count" th:text="${obras.size()}"></span>
								</div>
							</div>
						</div>
						<div class="col-md-2">
							<div class="card">
								<div class="card-body">
									<span>Obreros</span><br> <span>Total: </span> <span
										class="count" th:text="${total_obreros}"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- ./INFORMACION -->

				<footer th:replace="plantilla/template :: footer"></footer>
			</div>
		</div>
	</div>
</body>

</html>